### Happiness EDA

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_13284\1015555157.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df_2015 = pd.read_csv("2015.csv")
df_2016 = pd.read_csv("2016.csv")
df_2017 = pd.read_csv("2017.csv")
df_2018 = pd.read_csv("2018.csv")
df_2019 = pd.read_csv("2019.csv")

### 2015

Mostrar las primeras filas del DataFrame

In [3]:
df_2015.head(5)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

Comprobar la estrcutura del DataFrame

In [ ]:
df_2015.shape

Hay información para 158 países, y cada país está representado por una fila en el conjunto de datos. El conjunto de datos tiene 12 columnas, cada una de las cuales proporciona información específica sobre esos países.

Data Types

In [ ]:
df_2015.info()

null values

In [ ]:
df_2015.isnull().sum()

### 2016

Mostrar las primeras filas del DataFrame

In [ ]:
df_2016.head(5)

Comprobar la estrcutura del DataFrame

In [ ]:
df_2016.shape


Hay información para 157 países, y cada país está representado por una fila en el conjunto de datos. El conjunto de datos tiene 13 columnas, cada una de las cuales proporciona información específica sobre esos países.

Data Types

In [ ]:
df_2016.info()

null values

In [ ]:
df_2016.isnull().sum()

### 2017

Mostrar las primeras filas del DataFrame

In [ ]:
df_2017.head(5)

Comprobar la estrcutura del DataFrame

In [ ]:
df_2017.shape

Data Types

In [ ]:
df_2017.info()

null values

In [ ]:
df_2017.isnull().sum()

### 2018

Mostrar las primeras filas del DataFrame

In [ ]:
df_2018.head(5)

Comprobar la estrcutura del DataFrame

In [ ]:
df_2018.shape

Hay información para 156 países, y cada país está representado por una fila en el conjunto de datos. El conjunto de datos tiene 9 columnas, cada una de las cuales proporciona información específica sobre esos países.

Data Types

In [ ]:
df_2018.info()

 null values

In [ ]:
df_2018.isnull().sum()

Esto significa que hay una fila en la que falta información sobre la percepción de corrupción

### 2019

Mostrar las primeras filas del DataFrame

In [ ]:
df_2019.head(5)

Comprobar la estrcutura del DataFrame

In [ ]:
df_2019.shape

Hay información para 156 países, y cada país está representado por una fila en el conjunto de datos. El conjunto de datos tiene 9 columnas, cada una de las cuales proporciona información específica sobre esos países.

 Data Types

In [ ]:
df_2019.info()

null values

In [ ]:
df_2019.isnull().sum()

Podemos ver que los datasets presentan las siguientes columnas en común: Country, happiness score, GDP per capita, Life expectancy, freedom, generosity, and trust government corruption.

## Estandarizar datos

Durante el análisis se pudo identificar que los conjuntos de datos contienen columnas con nombres variables pero con información similar sobre el país, rango, felicidad, indicadores económicos, apoyo social, libertad, esperanza de vida, generosidad y percepciones de corrupción

In [ ]:
def rename_columns_15_16(df, year):
    df.rename(columns={
        'Happiness Score': 'happiness_score',
        'Happiness Rank': 'rank',
        'Economy (GDP per Capita)': 'gdp_per_capita',
        'Family': 'social_support',
        'Health (Life Expectancy)': 'life_expectancy',
        'Trust (Government Corruption)': 'corruption'
    }, inplace=True)
    df.columns = map(str.lower, df.columns)
    df['year'] = year
    return df[['country', 'rank', 'happiness_score', 'gdp_per_capita', 'social_support', 'freedom', 'life_expectancy', 'generosity', 'corruption', 'year']]

En el caso de los anos 2015vy 2016, estos cuentan con estructura similar de nombres

In [ ]:
happy_2015 = rename_columns_15_16(df_2015, 2015)
happy_2016 = rename_columns_15_16(df_2016, 2016)

In [ ]:
def rename_columns_17(df, year):
    df.rename(columns={
        'Happiness.Score': 'happiness_score',
        'Happiness.Rank': 'rank',
        'Economy..GDP.per.Capita.': 'gdp_per_capita',
        'Family': 'social_support',
        'Health..Life.Expectancy.': 'life_expectancy',
        'Trust..Government.Corruption.': 'corruption',
    }, inplace=True)
    df.columns = map(str.lower, df.columns)
    df['year'] = year
    return df[['country', 'rank', 'happiness_score', 'gdp_per_capita', 'social_support', 'freedom', 'life_expectancy', 'generosity', 'corruption', 'year']]

In [ ]:
happy_2017 = rename_columns_17(df_2017, 2017)

In [ ]:
def rename_columns_18_19(df, year):
    df.rename(columns={
        'Overall rank': 'rank',
        'Country or region': 'country',
        'Score': 'happiness_score',
        'GDP per capita': 'gdp_per_capita',
        'Social support': 'social_support',
        'Healthy life expectancy': 'life_expectancy',
        'Perceptions of corruption': 'corruption',
        'Freedom to make life choices': 'freedom',
        'Generosity': 'generosity'
    }, inplace=True)
    df['year'] = year
    return df

In [ ]:
happy_2018 = rename_columns_18_19(df_2018, 2018)
happy_2019 = rename_columns_18_19(df_2019, 2019)

In [ ]:
dataframes = [happy_2015, happy_2016, happy_2017, happy_2018, happy_2019]
happiness_final_df = pd.concat(dataframes, ignore_index=True)
happiness_final_df

Analisis del nuevo dataframe llamado happiness luego de la integracion de todos los datasets

In [ ]:
happiness_final_df.shape

El conjunto de datos combinado, que abarca de 2015 a 2019, contiene información de 782 países en 10 columnas

**Valores nulos**

In [ ]:
happiness_final_df.isnull().sum()

Como solo hay un unico valor nulo, este se elimina

## Analisis por columna

In [ ]:
happiness_final_df['happiness_score'].head(3)

In [ ]:
happiness_final_df['happiness_score'].describe()

In [ ]:
plt.figure(figsize=(10, 6))
sns.histplot(happiness_final_df['corruption'], kde=True)
plt.title('Distribución de Government Corruption')
plt.show()

In [ ]:
columns_to_drop = ['rank','year','generosity','corruption']
happiness_final_df.drop(columns=columns_to_drop, inplace=True)

## Regression Model

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
import joblib

El modelo predictivo se construirá utilizando RandomForestRegressor para pronosticar el "happiness_score".

**Selecting features**

In [ ]:
selected_features = [
    "gdp_per_capita",
    "social_support",
    "freedom",
    "life_expectancy",
    "happiness_score",
]

happiness_analisis = happiness_final_df[selected_features]
happiness_analisis

Dividir el conjunto de datos

In [ ]:
y = happiness_analisis["happiness_score"]
X = happiness_analisis.drop(columns=["happiness_score"])
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [ ]:
test_data = happiness_final_df.loc[y_test.index]
test_data

Entrenamiento

In [ ]:
regressor = RandomForestRegressor(n_estimators=100,
                                  random_state=0)
regressor.fit(X_train, y_train)

Modelo entrenado

In [ ]:
joblib_file = "../modelo/rf_regre.pkl"
joblib.dump(regressor, joblib_file)